/.idea
/data/att_img
/data/att_post
/data/usercache
/data/cache
/data/export
/dscore/libs/PHPExcel.php
/dscore/libs/PHPExcel/
/data/materials
/images/avatars
/images/photos
/deploy/logs
/deploy/deploy.config.php
/dscore/includes/db.php
/data/http_antiflood.dat
/cls
/rawcls
/bankrotspy.sql
/data/tmp/*
/data/mailing/*