AddDefaultCharset UTF-8
Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.bankrot-spy\.ru$ [NC]
RewriteRule ^(.*)$ http://bankrot-spy.ru/$1 [R=301,L]

RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteCond %{HTTP:range} !(^bytes=[^,]+(,[^,]+){0,4}$|^$)
RewriteRule .* - [F]


RewriteRule ^pages/([0-9]{1,11})$ ?core_mod=pages&core_act=index&id=$1 [QSA]
RewriteRule ^pages/file([0-9]{1,11})/(.+?)$ pages/download?act=file&id=$1&namefile=$2 [QSA]

RewriteRule ^unsubscribe$ ?core_mod=mail&core_act=unsubscribe [QSA]

RewriteRule ^amc/$ ?core_mod=amc&core_act=index&id=$1 [QSA]
RewriteRule ^amc/([0-9]+)$ ?core_mod=amc&core_act=profile&id=$1 [QSA]

RewriteRule ^debtors/$ ?core_mod=debtors&core_act=index&id=$1 [QSA]
RewriteRule ^debtors/([0-9]+)$ ?core_mod=debtors&core_act=profile&id=$1 [QSA]

RewriteRule ^platforms/$ ?core_mod=platforms&core_act=index&id=$1 [QSA]
RewriteRule ^platforms/([0-9]+)$ ?core_mod=platforms&core_act=profile&id=$1 [QSA]

RewriteRule ^stats/$ ?core_mod=stats&core_act=index&id=$1 [QSA]
RewriteRule ^stats/([0-9]+)$ ?core_mod=stats&core_act=profile&id=$1 [QSA]

RewriteRule ^confiscated/$ ?core_mod=confiscated&core_act=index&id=$1 [QSA]
RewriteRule ^confiscated/([0-9]+)$ ?core_mod=confiscated&core_act=card&id=$1 [QSA]

RewriteRule ^privatized/$ ?core_mod=privatized&core_act=index&id=$1 [QSA]
RewriteRule ^privatized/([0-9]+)$ ?core_mod=privatized&core_act=card&id=$1 [QSA]

RewriteRule ^card/([0-9]{1,11})$ ?core_mod=cards&core_act=index&id=$1 [QSA]
## forum subforum rewrite ##
RewriteRule ^forum/subforum([0-9]{1,11})$ ?core_mod=forum&core_act=subforum&id=$1 [QSA]

## forum topic rewrite ##
RewriteRule ^forum/topic([0-9]{1,11})/page([0-9]{1,11})$ ?core_mod=forum&core_act=viewtopic&id=$1&page=$2 [QSA]
RewriteRule ^forum/topic([0-9]{1,11})$ ?core_mod=forum&core_act=viewtopic&id=$1 [QSA]

## articles rewrite ##
RewriteRule ^articles/post([0-9]{1,11})/page([0-9]{1,11})$ ?core_mod=articles&core_act=view&id=$1&page=$2 [QSA]
RewriteRule ^articles/post([0-9]{1,11})$ ?core_mod=articles&core_act=view&id=$1 [QSA]
RewriteRule ^articles/tag([0-9]{1,11})/page([0-9]{1,11})$ ?core_mod=articles&core_act=tag&id=$1&page=$2 [QSA]
RewriteRule ^articles/tag([0-9]{1,11})$ ?core_mod=articles&core_act=tag&id=$1 [QSA]

RewriteRule ^api/([0-9\.]{1,})/$ api/index.php?apiversion=$1&core_mod=index&core_act=index [QSA]
RewriteRule ^api/([0-9\.]{1,})/([a-z0-9]{1,})$ api/index.php?apiversion=$1&core_mod=$2&core_act=index [QSA]
RewriteRule ^api/([0-9\.]{1,})/([a-z0-9]{1,})/([a-z0-9]{1,})$ api/index.php?apiversion=$1&core_mod=$2&core_act=$3 [QSA]

## core rewrite ##

RewriteRule ^control/mail$ ?core_mod=control&folder=mail&core_act=index [QSA]
RewriteRule ^control/mail/([a-z]+)$ ?core_mod=control&folder=mail&core_act=$1 [QSA]

RewriteRule ^([a-z0-9]{1,})$ ?core_mod=$1&core_act=index [QSA]
RewriteRule ^([a-z0-9]{1,})/([a-z0-9]{1,})$ ?core_mod=$1&core_act=$2 [QSA]

## fileload rewrite ##
RewriteRule ^load/file([0-9]{1,11})/(.+?)$ ?core_mod=load&core_act=index&idfile=$1&fileload=$2 [QSA]