.userpanel_bg{
    background: #43464b;
    width: 270px;
    border-bottom: 1px solid #a2a5aa;
    padding: 12px;
}

.right_back_menu{
    width: 255px;
    vertical-align: top;
    padding: 8px 0px 8px 0px;
}

.right_back_menu_index, .right_back_menu_index_set{
    height: 100px;
    vertical-align: top;
    padding: 8px 0px 8px 0px;
}

.right_back_menu_index_set{
    width: 100%;
    padding-right: 20px;
    padding-left: 18px;
}

.news_back{
    padding: 8px 10px 0px 8px;
    color: #717171;
    border-bottom: 1px #c7c7c7 solid;
}

.right_panel_conf, .right_panel_conf_index{
    background: white;
    border: 1px #c7c7c7 solid;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1)
}

.right_panel_conf_index{
    min-width: 415px;
}

.news_text{
    overflow: hidden;
}

.menu_rt{
    height: 16px;
    background: #F9F8F8;
    color: #717171;
    padding: 12px 10px 12px 15px;
    font-weight: bold;
    border-bottom: 1px #c7c7c7 solid;
}

.menu_rt_index{
    background: #F9F8F8;
    color: #717171;
    padding: 8px 10px 6px 15px;
    font-weight: bold;
    border-bottom: 1px #c7c7c7 solid;
}

.headavatar{
    width: 79px;
    padding-left: 15px;
}

.headavatar img{
    height: 55px;
    border: 2px white solid;
    border-radius: 50px;
}

a.username{
    color: white;
    font-size:15px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    padding-bottom: 6px;
}

a.usercab{
    color: white;
    position: relative;
    bottom: 2px;
}

input[type="submit"].exit_button{
    position: relative;
    bottom: 2px;
    border-radius: 0;
    background: none;
    border: 0px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

input[type="submit"].exit_button:hover {
    text-decoration: underline;
}

.elmenu a{
    cursor: pointer;
    display: block;
    padding: 8px 10px 8px 15px;
    color: #717171;
    border-bottom: 1px #c7c7c7 solid;
}

.elmenu a:hover{
    text-decoration: none;
    background: #fdfdfd;
}

.down_rmenu{
    height: 15px;
    background: #f9f8f8;
}


a.urlbutton_index, .urlbutton_index {
    padding: 6px 13px 6px 13px;
    background: #ff9b24;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-right: rgba(253, 255, 253, 0.32) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.32) 2px solid;
    border-radius: 6px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
}

a.urlbutton_index:hover, .urlbutton_index:hover {
    cursor: pointer;
    background: #feab2e;
    box-shadow: none;
    border-right: rgba(253, 255, 253, 0.49) 2px solid;
    border-bottom: rgba(253, 255, 253, 0.49) 2px solid;
    text-decoration: none;
}

.grback {
    background: url("../images/gr_back.png") repeat-x scroll center bottom transparent;
    height: 30px;
    margin-top: -32px;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 2px;
}

.bs_index_table{
 margin-right: 0;
 margin-top: 0px;

}

.table_menu{
    position: relative;
    margin-left: 18px;
    height: 30px;
    border-top: #c7c7c7 1px solid;
    border-right: #c7c7c7 1px solid;
    border-left: #c7c7c7 1px solid;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1)
}


.table_tab {
    height: 30px;
    background: #43464b;
}

.table_tab tr td {
    color: #d8d9dd;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    width: 150px;
    border-right: 1px solid #ababab;
}

.no_tab_right{
    border-right: 0 !important;
}

.table_tab tr td span {
    color: #d8d9dd;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.table_tab tr td span.active_tab {
    color: #52565c;
    background: white;
    text-decoration: none;
    display: block;
    line-height: 32px;
    padding-bottom: 7px;
    margin-bottom: -9px;
}



.table_tab tr td span:hover {
    cursor: pointer;
    background: #52565c;
    color: #e8e9ed;
}

.table_tab tr td span.active_tab:hover {
    cursor: auto;
    background: white;
    color: #52565c;
}

.icon-star:before {
    color: #FF9B24 !important;
}

div.all_sup{
    border: 0px ;
}

table.supp_table{
}

table.supp_table tr.headt td{
    background: #43464b;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    font-size: 13px;
    border-bottom: 1px solid #d9d8d8;
}

table.supp_table tr.linet{
    border-top: 1px solid white;
    background: white;
    border-bottom: 1px solid #d9d8d8;
}

table.supp_table tr.linet td{
    vertical-align: middle !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

table.supp_table tr.linet:hover{
    background: #f8f8f8;
    cursor: pointer;
}

table.supp_table tr.linet_bot{
    height: 4px;
}

td.firstt{
    text-align: center;
}

.main_tlink a{
    font-size: 13px;
}

.cnt_round
{
   display: inline-block;
    background: red;
    height: 14px;
    min-width: 14px;
    line-height: 14px;
    border-radius: 10px;

    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 2px 1px 0px;
}

.data_table{
margin: 16px 0 16px 0;
}

.data_table tr th, .data_table tr th.sort_down, .data_table tr th.sort_up{
    background-color: #ebebeb;
    border: 1px solid #d1d1d1;
    font-weight: normal;
    font-size: 12px;
    color: #676767;
    padding: 4px 16px 4px 3px;
    background-image: url(../images/table/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.data_table tr th:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.data_table tr th.sort_down{
    background-image: url(../images/table/desc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.data_table tr th.sort_up{
    background-image: url(../images/table/asc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.data_table tr td{
    color: #4d4d4d;
    border: 1px solid #e1e1e1;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 7px;
}

.data_table tr.data_line:hover{
    background: #f8f8f8;
}

.namelink{
    color:black;
    text-decoration:underline
}

#floatTip {
    position: absolute;
    width: 193px;
    display: none;
    top:-250px;
    z-index:9999;
    margin-left:-90px;
    font-size: 9pt;
    color: #333;
}

#TipContainer{
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.50);
    background: white;
    padding: 5px;
}

#TipContainer::before, #TipContainer::after {
    content: '';
    position: absolute;
    left: 82px; bottom: -19px;
    border: 10px solid transparent;
    border-top: 10px solid #9c9c9c;
}
#TipContainer::after {
    border-top: 10px solid white;
    bottom: -18px;
}

.news_back table td {
   border-right: 1px solid #e9e9e9;
   width: 25%;
   padding: 0 10px;
}

.news_back table td table.nomarginnews td{
    width: auto;
    border: 0;
    font-size: 13px;
    padding: 0 0 0 4px;
}

.news_back table td input[type="text"]{
    padding: 2px 5px 2px 5px;
    width: 80%;
    margin: 5px 7px 5px 3px;
}

.news_back table td input[type="checkbox"], .news_back table td input[type="radio"]{
    margin: 4px 3px 3px 3px;
    position: relative;
    bottom: -2px;
}
.news_back table td label{
    font-size: 13px;
}

.news_back table td input[type="radio"]{
    margin: 1px 3px 1px 3px;
}

.news_back table td label:hover, .news_back table td input[type="checkbox"]:hover{
    cursor: pointer;
}

.news_back table td hr, .super_hr{
    border: 0;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    height: 0;
    margin: 8px 0 8px 0;
}


.news_back_hr{
    border: 0;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    height: 0;
    margin: 8px 0 2px 0;
}

.button_no_top_index{
    margin-top: 4px !important;
    padding: 3px 9px 3px 9px !important;
    text-align: center;
    min-width: 70px;
}

.news_button_cont, .set_button_cont{
    text-align: right;
}

.change_block_set
{
    color: #dd8b00;
    font-size: 13px;
}

.change_block_set:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.action_span
{
    color: #dd8b00;
}

.action_span:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.reg_delimiter{
    border: 0;
    border-top: 1px solid #e9e9e9;
    height: 0;
    margin: 4px 0 4px 0;
}

.main_pop_body b{
    color: #8f8f8f;
}

.news_cont h2{
    display: inline-block;
    margin: 6px 7px 6px -1px;
}
.news_cont a h2:hover{
text-decoration: underline;
}
.news_cont hr{
    margin: 8px 7px 8px -1px;
}

.contfin_forms_delimiter{
    border-bottom: 1px solid #E4E4E4;
    height: 20px;
    background: #f6f6f6;
}