[class^="icon-"]:before, [class*=" icon-"]:before {
    color: #838488;
}

a [class^="icon-"]:hover:before,a [class*=" icon-"]:hover:before {
    color: #66676b;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fontello';
        src: url('../font/fontello.svg?88050260#fontello') format('svg');
    }
}

.icon-globe-bigmenu:before { content: '\e801'; } /* '' */
.icon-globe-bigmenu:before{
    font-size: 28px;
}

.icon-globe-table:before { content: '\e801'; } /* '' */
.icon-globe-table:before{
    font-size: 11px;
    text-decoration: none;
}

.icon-globe-set:before{
    content: '\e801';
    font-size: 14px;
    color: #838488;
}

.icon-edit-orange:before{
    content: '\e802';
    color: #dd8b00;
}

.action_span .icon-ok:before, .action_span .icon-cancel:before{
    color: #dd8b00;
}

.icon-share:before{
    font-size: 11px;
    padding-right: 4px;
    text-decoration: none;
}

.icon-hammer:before{
    font-size: 11px;
    padding-right: 2px;
    text-decoration: none;
}

.icon-star:before {
    font-size: 12px;
}

.icon-hammer-set:before{
    content: '\e817';
    font-size: 14px;
}

.icon-star-1 {
    font-size: 12px;
}
.icon-star-empty:before{
    font-size: 14px;
    padding-right: 2px;
}

.icon-star-empty:hover:before{
    color: #FF9B24;
    cursor: pointer;
}

.icon-star-clicked:before{
    font-size: 14px;
    content: '\e815';
    color: #FF9B24;
    padding-right: 2px;
}
.icon-star-clicked:hover:before{
    color: rgba(255, 155, 36, 0.76);
    cursor: pointer;
}

.icon-cancel-circled:before {
    color: #ff7359;
    font-size: 20px;
    border-radius: 19px;
    padding: 0;
}

.icon-cancel-circled:hover:before {
    color: red;
}

.icon-edit:before { content: '\e802'; } /* '' */
.icon-delete:before { content: '\e803'; } /* '' */

.icon-globe:before,
a .icon-globe:hover:before,
.icon-bold:before,
a .icon-bold:hover:before,
.icon-italic:before,
a .icon-italic:hover:before,
.icon-underline:before,
a .icon-underline:hover:before,
.icon-strike:before,
a .icon-strike:hover:before,
.icon-comment:before,
a .icon-comment:hover:before,
.icon-plus-circled:before,
a .icon-plus-circled:hover:before,
.icon-code:before,
a .icon-code:hover:before,
.icon-pi-outline:before,
a .icon-pi-outline:hover:before,
.icon-brush:before,
a .icon-brush:hover:before,
.icon-tint:before,
a .icon-tint:hover:before,
.icon-youtube-play:before,
a .icon-youtube-play:hover:before,
.icon-align-center:before,
a .icon-align-center:hover:before,
.icon-align-right:before,
a .icon-align-right:hover:before
{
    color: #3e3e3e;
    text-shadow: 1px 1px 0 #d7d7d7;
}

.icon-bold:before,
.icon-underline:before,
.icon-strike:before,
.icon-brush:before,
.icon-comment:before,
.icon-italic:before
{
    font-size: 13px;
}

.icon-tint:before{
    position: relative;
    bottom: -1px;
}


/* Анимация иконки icon-spin5 */

.icon-spin5:before {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
