@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92401292');
  src: url('../font/fontello.eot?92401292#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?92401292') format('woff'),
       url('../font/fontello.ttf?92401292') format('truetype'),
       url('../font/fontello.svg?92401292#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92401292#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-trash:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e804'; } /* '' */
.icon-globe-1:before { content: '\e805'; } /* '' */
.icon-bold:before { content: '\e806'; } /* '' */
.icon-italic:before { content: '\e807'; } /* '' */
.icon-underline:before { content: '\e808'; } /* '' */
.icon-strike:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-code:before { content: '\e80c'; } /* '' */
.icon-pi-outline:before { content: '\e80d'; } /* '' */
.icon-brush:before { content: '\e80e'; } /* '' */
.icon-tint:before { content: '\e80f'; } /* '' */
.icon-youtube-play:before { content: '\e810'; } /* '' */
.icon-align-center:before { content: '\e811'; } /* '' */
.icon-align-right:before { content: '\e812'; } /* '' */
.icon-share:before { content: '\e813'; } /* '' */
.icon-star-empty:before { content: '\e814'; } /* '' */
.icon-star-1:before { content: '\e815'; } /* '' */
.icon-spin5:before { content: '\e816'; } /* '' */
.icon-hammer:before { content: '\e817'; } /* '' */
.icon-search:before { content: '\e818'; } /* '' */
.icon-rouble:before { content: '\e819'; } /* '' */
.icon-calendar:before { content: '\e81a'; } /* '' */
.icon-address:before { content: '\e81b'; } /* '' */
.icon-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e81e'; } /* '' */
.icon-cancel-1:before { content: '\e81f'; } /* '' */
.icon-newspaper:before { content: '\e820'; } /* '' */
.icon-comment-1:before { content: '\e821'; } /* '' */
.icon-user-male:before { content: '\e822'; } /* '' */
.icon-forward:before { content: '\e823'; } /* '' */
.icon-quote-right:before { content: '\e824'; } /* '' */
.icon-docs:before { content: '\e825'; } /* '' */
.icon-doc-inv:before { content: '\e826'; } /* '' */
.icon-tags:before { content: '\e827'; } /* '' */
.icon-users:before { content: '\e828'; } /* '' */
.icon-clock:before { content: '\e829'; } /* '' */
.icon-list:before { content: '\e82a'; } /* '' */
.icon-key:before { content: '\e82b'; } /* '' */
.icon-briefcase:before { content: '\e82c'; } /* '' */
.icon-attention:before { content: '\e82d'; } /* '' */
.icon-location:before { content: '\e82e'; } /* '' */